@font-face {
  font-family: 'Hanken Grotesk';
  src: url('./assets/fonts/HankenGrotesk-VariableFont_wght.ttf')
    format('truetype');
}

:root {
  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  /* Gradients */
  /* (background) */
  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);

  /* (circle) */
  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);

  /*Neutral */

  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}

* {
  font-family: 'Hanken Grotesk', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #41644a;
  width: 100vw;
  height: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  overflow-x: hidden;
}

.main-container {
  display: grid;
  place-items: center;
  place-content: center;
  height: 100%;
  width: 100%;
  margin-top: 10rem;
}
.inside-container {
  align-items: center;
  display: block;
  background-color: var(--White);
  width: 30rem;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  padding: 2rem;

  position: relative;
}

.refresh {
  align-self: flex-end;
  position: absolute;
  right: 4.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.refresh img {
  width: 2rem;
}

.main_description {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--Dark-gray-blue);
  margin-bottom: 2rem;
}

.main_description .gradient_container {
  display: flex;
  align-items: center;
  width: 80%;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: 500;
}

.main_description .moist {
  color: var(--Orangey-yellow);
  background-color: hsl(39, 100%, 96%) !important;
}

.main_description .moist .moist_data {
  margin-left: 6.5rem;
  font-weight: 800;
}

.main_description .acidity {
  color: var(--Green-teal);
  background-color: hsl(166, 100%, 97%) !important;
}

.main_description .acidity input {
  margin-left: 2rem;
  height: 1.8rem;
  width: 10rem;
  padding: 0.5rem;
  border-radius: 7px;
  border: 1px solid var(--Green-teal);
  text-align: center;
}

.main_description .acidity input:focus {
  outline: 1px solid var(--Green-teal);
}

.main_description .gradient_container img {
  margin-right: 0.5rem;
}

.main_description .ph {
  margin: 0.5rem 0rem;
  color: var(--Light-red);
  background-color: hsl(0, 100%, 97%) !important;
}

.main_description .ph .res {
  margin-left: 8rem;
  font-weight: 800;
}

.suggestion_button {
  margin-top: 4rem;
  width: 8rem;
  height: 2.5rem;
  background-color: hsl(166, 100%, 97%) !important;
  border: 1px solid var(--Green-teal);
  border-radius: 8px;
  cursor: pointer;
}

.suggestions .title {
  font-size: 1.5rem;
  text-align: center;
}

.suggestion_container {
  display: block;
  height: 100%;
  padding: 1rem;
  border-radius: 8px;
}

.suggestion_container .classification_container {
  text-align: center;
  color: var(--Green-teal);
  background-color: hsl(166, 100%, 97%) !important;
  padding: 0.8rem;
  border-radius: 2rem;
}

.suggestion_container span {
  text-align: center;
  font-size: 1.2rem;
  display: block;
  margin-top: 2rem;
  font-weight: 600;
  margin-bottom: 4rem;
}

.suggestion_container p {
  text-indent: 1rem;
  font-size: 0.9rem;
  /* font-weight: 600; */
}

.plants_main_container {
  color: var(--Green-teal);
  background-color: hsl(166, 100%, 97%) !important;
  padding: 1rem;
  border-radius: 2rem;
  margin-top: 2rem;
}

.plants_container {
  margin-top: 1rem;
}

.plant-each-container {
  margin-bottom: 2rem;
}

.plant-each-container > * {
  margin-bottom: 2rem;
}

.plant-each-container h1 {
  font-size: 1.2rem;
  color: black;
}

.plant-each-container p {
  text-indent: 2rem;
  font-size: 1rem;
  text-align: justify;
  color: black;
}

.plant-each-container img {
  width: 21rem;
  height: 15rem;
  border-radius: 2rem;
}

.error_container {
  margin-top: 2rem;
  color: var(--Light-red);
}
